@import "../StyleVariables.scss";

html {
  overflow-y: overlay;
}

p {
  overflow: hidden;
}

a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.ActivityListArea {
  width: $listWidth;
  background-color: $backgroundColorCurrent;
  border-radius: $borderRadius;
  margin-bottom: 120px;
}

.forceListUpdate {
  text-align: left;
}

.listTitle {
  text-align: center;
}

#filterArea {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 25px;
}

#filterArea p {
  margin: 0 0 0 1em;
  overflow: visible;
}

.ActivityList {
  position: relative;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  column-gap: 5%;
  padding: 0;
  padding-bottom: 0px;
  overflow: hidden;
  height: 75px;
  transition: height 0.8s ease;
  text-align: center;
  background-color: $backgroundColorCurrentActivity;
  margin-bottom: 5px;
  border-radius: 5px;
}

.ActivityList:last-of-type {
  margin-bottom: 0;
}

.ActivityList h2 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.ActivityIntroduction {
  grid-column-start: 1;
  grid-column-end: 2;
  opacity: 0;
  transition: opacity 2s ease;
  display: none;
  height: 300px;
}

.ActivityLocalLocation {
  grid-column-start: 2;
  grid-column-end: 3;
  opacity: 0;
  transition: opacity 2s ease;
  display: none;
  height: 300px;
}

.ActivityGlobalPosition {
  grid-column-start: 2;
  grid-column-end: 3;
  opacity: 0;
  transition: opacity 2s ease;
  display: none;
  height: 260px;
}

.ActivityGeneralInformation {
  grid-column-start: 1;
  grid-column-end: 2;
  opacity: 0;
  transition: opacity 2s ease;
  display: none;
  height: 260px;
}

.GoogleMap {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 2s ease;
  display: none;
}

.ExpandArrow {
  position: absolute;
  width: auto;
  font-size: 4em;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 94%;
  top: -15px;
  cursor: pointer;
}

.searchbtn {
  background-color: #04aa6d;
  color: white;
  border: none;
  height: 25px;
}

.dropdownSL {
  position: relative;
  display: inline-block;
}

.dropdownContentSL {
  display: none;
  position: absolute;
  background-color: $backgroundFilterList;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdownContentSL button {
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  margin-left: 0.5em;
  border-radius: 5px;
}

.dropdownContentSL button:last-of-type {
  margin-bottom: 0px;
}

.dropdownContentSL button:hover {
  background-color: #ddd;
}

.dropdownSL:hover .dropdownContentSL {
  display: block;
}

.dropdownSL:hover .dropbtn {
  background-color: #3e8e41;
}
