#filterArea {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
  height: 25px;
}

.activityListTop {
  display: flex;
  justify-content: space-between;
}

.dropdownSL {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-right: 0.2em;
}

.dropdownContentSL {
  display: block;
  position: absolute;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
