$h1FontSize: 2em;
$pFontSize: 1em;
$liFontSize: 1em;

$navWidth: 80%;
$listWidth: 40%;
$footerWidth: 80%;

$borderRadius: 5px;

$listMinHeight: 2000px;

$backgroundColorFuture: rgb(150, 150, 150);
$backgroundColorCurrent: rgb(175, 175, 175);
$backgroundColorFooter: rgb(110, 110, 110);
$backgroundColorNav: rgb(201, 201, 201);
