$h1FontSize: 2em;
$pFontSize: 1em;
$liFontSize: 1em;

$navWidth: 80%;
$listWidth: 40%;
$footerWidth: 80%;

$borderRadius: 5px;

$listMinHeight: 2000px;

$backgroundBody: rgb(234, 255, 231);
$backgroundColorFuture: rgb(150, 150, 150);
$backgroundColorCurrent: rgba(190, 206, 187, 0.103);
$backgroundColorCurrentActivity: rgba(190, 206, 187, 0.459);
$backgroundColorFooter: rgba(190, 206, 187, 0.26);
$backgroundColorNav: rgb(201, 201, 201);
$backgroundFilterList: rgba(190, 206, 187, 0.651);
